@font-face {
	font-family: 'Metrophobic';
	font-style: normal;
	font-weight: 400;
	src: local('Metrophobic'), url('res/Metrophobic400.woff') format('woff');
}
@font-face {
	font-family: 'Syncopate';
	font-style: normal;
	font-weight: 400;
	src: local('Syncopate'), local('Syncopate-Regular'), url('res/Syncopate400.woff') format('woff');
}
@font-face {
	font-family: 'Syncopate';
	font-style: normal;
	font-weight: 700;
	src: local('Syncopate Bold'), local('Syncopate-Bold'), url('res/Syncopate700.woff') format('woff');
}
body {
	background-color: #C41102;
	width: 100%;
	margin:0;
	padding:0;
	overflow-y: scroll;
	overflow-x: hidden;
	color: #000;
	}

nav {
	height: 82px;
	border-bottom: 4px solid #ffffff;
	}

form {
	margin: 0 8px;
	}

h1 {
	font: 400 24px "Syncopate", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #c8a984;
	padding-left: 4px;
	padding-right: 4px;
	margin: 9px 0 4px;
	}

h2 {
	font: normal 18px "Metrophobic", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	border-bottom: 1px dashed #be8e4d;
	padding: 7px 0 7px 4px;
	margin: 0px;
	}

h3 {
	margin: 4px 0 0;
	padding-left: 8px;
	font: normal 20px "Metrophobic", Helvetica, Arial, sans-serif;
	}

p, ul, dl { 
	margin-top: 0;
	padding: 0 8px;
	font-family: "Metrophobic", Helvetica, Arial, sans-serif;
	font-size: 15px;
	letter-spacing: 0.05em;
}

a {
	color: black;
}

.playsetPreviews {
  background-color: white;
}

.playsetPreviews .head,
.playsetPreviews .about {
  background-color: black;
}

.playsetPreviews .head {
  height: 60px;
}

.togglePreviewMode {
  color: white;
	font: 400 24px "Syncopate", Helvetica, Arial, sans-serif;
	letter-spacing: 0.05em;
	padding: 0 8px;
  float: right;
  text-transform: uppercase;
  text-decoration: none;

  display: none;
}

.togglePreviewMode img {
  padding-top: 10px;
  width: 40px;
}

.previewMode-cover .byCover {
  display: inherit;
}

.previewMode-name .byName {
  display: inherit;
}

.playsetsWrapper {
  background-color: white;
}

.previewMode-cover .playsets {
  clear: both;
  background-color: white;
}

.playsets h1 {
  clear: both;
  padding: 15px;
}

.previewMode-cover .playsetList {
  background-image: none;
  border: none;
  float: left;
}

.playsetList .name,
.playsetList .cover {
  display: none;
}

.previewMode-cover .playsetCategory {
  display: none;
}

.previewMode-name .playsetList .name {
  display: inherit;
}

.previewMode-cover .playsetList {
  display: none;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.previewMode-cover .playsetList .cover {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.previewMode-cover .playsetList.disable {
  display: none;
}

.previewMode-cover .playsetList.selected {
  display: inherit;
  padding: 5px;
}

.previewMode-cover .playsetList.selected .name {
  display: none;
}

.previewMode-cover .playsetList.selected .cover {
  display: inherit;
}

.playsets .coverArrow {
  display: none;
  padding: 10px 5px 5px 5px;
}

.previewMode-cover .coverArrow {
  display: inherit;
}

.playsets .coverArrow.nextCover {
  float: right;
}

.footer {
	text-align: right;
}

.playsetList {
	margin: 0;
	padding: 7px 0 7px 4px;
	border-bottom: 1px dashed #be8e4d;
	font: 21px "Metrophobic", Helvetica, Arial, sans-serif;
	background: white url('img/fiascoarrow.png') no-repeat 98% center;
	}

.disable {
	background-color: #910a0a;
	display: none;
	}

.about {
  clear: both;
}

.about h1 {
  padding: 15px;
}

.demo {
	background-color: #640000;
	}
	
#IOSContainer {
	position: absolute;
	top: 86px;
	width: 100%;
	background-color: #222;
}

#bodyContainer {
	background-color: #fff;
	}

#playnow {
	color: #b41e09;
	background-color: #222;
	padding: 10px;
	text-align: center;
	margin: 0 auto;
	font: bold 16px "Syncopate", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	}

.loginForm {
	padding: 9px 4px 4px !important;
	}

.playset {
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: "Metrophobic", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height:150%;
	}

.playset h2 {
	background: white url('img/fiascoarrow.png') no-repeat 98% center;
	}

.L1 {
	margin: 6px 0;
	font-size: 21px;
	}

.L2 {
	list-style: none inside;
	padding: 0 0 10px 0;
	font-size: 16px;
	}

.clear {
  clear: both;
}
