@font-face {
	font-family: 'Metrophobic';
	font-style: normal;
	font-weight: 400;
	src: local('Metrophobic'), url('res/Metrophobic400.woff') format('woff');
}
@font-face {
	font-family: 'Syncopate';
	font-style: normal;
	font-weight: 400;
	src: local('Syncopate'), local('Syncopate-Regular'), url('res/Syncopate400.woff') format('woff');
}
@font-face {
	font-family: 'Syncopate';
	font-style: normal;
	font-weight: 700;
	src: local('Syncopate Bold'), local('Syncopate-Bold'), url('res/Syncopate700.woff') format('woff');
}
body {
	background-color: #C41102;
	width: 100%;
	margin:0;
	padding:0;
	overflow-y: scroll;
	overflow-x: hidden;
	color: #000;
	}

nav {
	height: 82px;
	border-bottom: 4px solid #ffffff;
	}

.head {
  position: absolute;
  right: 13px;
  top: 21px;
}

.togglePreviewMode {
  display: none;
}

.togglePreviewMode img {
  width: 40px;
}

form {
	margin: 0 8px;
	}

h1,
.previewMode-cover .playsetList .name
{
	font: 400 24px "Syncopate", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #c8a984;
	padding-left: 4px;
	padding-right: 4px;
	margin: 9px 0 4px;
	}

img .cover {
	height: 100%;
    }

h2 {
	font: normal 18px "Metrophobic", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	border-bottom: 1px dashed #be8e4d;
	padding: 7px 0 7px 4px;
	margin: 0px;
	}

h3 {
	margin: 4px 0 4px 0;
	padding-left: 8px;
	font: normal 20px "Metrophobic", Helvetica, Arial, sans-serif;
	}

p, ul, dl { 
	margin-top: 0;
	padding: 0 8px;
	font-family: "Metrophobic", Helvetica, Arial, sans-serif;
	font-size: 15px;
	letter-spacing: 0.05em;
}

a {
	color: black;
}

.playsetPreviews {
  background-color: white;
}

.playsetPreviews .about {
  background-color: black;
}

.previewMode-cover .byCover {
  display: inherit;
}

.previewMode-name .byName {
  display: inherit;
}

.playsetsWrapper {
  background-color: white;
}

.previewMode-cover .playsetList {
  clear: both;
  background-image: none;
}

.playsets h1,
.previewMode-cover .playsetList .name
{
  xclear: both;
  xpadding: 15px;
}

.previewMode-cover .playsetList .name {
  text-align: left;
  width: 100%;
}

.previewMode-cover .playsets {
  background-image: url(img/playset-name-background.png);
  background-repeat: repeat-x;
  background-position: 0px 1px;
}

.previewMode-cover .playsetList {
  background-color: transparent;
  border: none;
}

.playsetList .cover {
  display: none;
}

.playsetCategory {
  background-color: #222;
}

.previewMode-cover .playsetCategory {
  display: none;
}

.previewMode-name .playsetList .name {
  display: inherit;
}

.previewMode-cover .playsetList {
  display: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.previewMode-cover .playsetList .cover {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.previewMode-cover .playsetList.disable {
  display: none;
}

.previewMode-cover .playsetList.selected {
  display: inherit;
  padding: 0;
}

.XpreviewMode-cover .playsetList .name {
  display: block;
  margin: 0 0 5px 0;
}

.previewMode-cover .playsetList.selected .cover {
  display: inherit;
}

.playsets .coverArrow {
  display: none;
  padding: 10px 5px 5px 5px;
  position: absolute;
  margin-top: 160px;
}

.previewMode-cover .coverArrow {
  display: inherit;
}

.playsets .coverArrow.nextCover {
  right: 0;
}

.footer {
	text-align: right;
}

.playsetList, .playsetDeets {
	margin: 0;
	padding: 7px 0 7px 4px;
	border-bottom: 1px dashed #be8e4d;
	font: 21px "Metrophobic", Helvetica, Arial, sans-serif;
	background: white url('img/fiascoarrow.png') no-repeat 98% center;
	}

.disable {
	background-color: #910a0a;
	display: none;
	}

.about {
  clear: both;
}

.about h1 {
  padding: 15px;
}

.demo {
	background-color: #640000;
	}
	
#IOSContainer {
	position: absolute;
	top: 86px;
	width: 100%;
	background-color: #222;
}

#bodyContainer {
	background-color: #fff;
	}

#playnow {
	color: #b41e09;
	background-color: #222;
	padding: 10px;
	text-align: center;
	margin: 0 auto;
	font: bold 16px "Syncopate", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	}

.loginForm {
	padding: 9px 4px 4px !important;
	}

.playset {
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: "Metrophobic", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height:150%;
	}

.playset h2 {
	background: white url('img/fiascoarrow.png') no-repeat 98% center;
	}

.L1, .L2 {
	height: 0px;
	overflow: hidden;
	}

.selectors {
	margin: 6px 0;
	font-size: 21px;
	}

.items {
	list-style: none inside;
	padding: 0 0 10px 0;
	font-size: 16px;
	}

.activated {
	height: 100%;
	}

.clear {
  clear: both;
}

/* Phones */
@media only screen 
    .previewMode-cover .coverWrapper {
      margin-left: 40px;
      margin-right: 40px;
      background: no-repeat center center;
      background-size: contain;
    }

    .previewMode-cover .playsetList .cover {
      width: 100%;
    }

  .playsets .coverArrow {
    margin-top: 60%;
  }

}
