<script id="playsetProper" type="text/x-jquery-tmpl">
<div id="IOSContainer">
	<h1>${playset.title}</h1>
	<div class="playset">
		{{if playset.relationships}}
		<h2 class="playsetList" onClick="subSwap('subRelationships')">Relationships</h2>
		<div id="subRelationships" style="display: none;" class="L0"><ol class="L1">
		{{each(i, item) playset.relationships}}
			<li onClick="subSwap('relationships${i}')">${item.title}</li>
			<div id="relationships${i}" style="display: none;">
				<ul class="L2">{{each(i, item) elements}}<li><img src="img/d${i+1}.png" alt="${i+1}"> ${item}</li>{{/each}}</ul>
			</div>
		{{/each}}</ol>
		</div>
		{{/if}}

		{{if playset.needs}}
		<h2 class="playsetList" onClick="subSwap('subNeeds')">Needs</h2>
		<div id="subNeeds" style="display: none;" class="L0"><ol class="L1">
		{{each(i, item) playset.needs}}
			<li onClick="subSwap('needs${i}')">${item.title}</li>
			<div id="needs${i}" style="display: none;">
				<ul class="L2">{{each(i, item) elements}}<li><img src="img/d${i+1}.png" alt="${i+1}"> ${item}</li>{{/each}}</ul>
			</div>
		{{/each}}</ol>
		</div>
		{{/if}}
		
		{{if playset.locations}}
		<h2 class="playsetList" onClick="subSwap('subLocations')">Locations</h2>
		<div id="subLocations" style="display: none;" class="L0"><ol class="L1">
		{{each(i, item) playset.locations}}
			<li onClick="subSwap('locations${i}')">${item.title}</li>
			<div id="locations${i}" style="display: none;">
				<ul class="L2">{{each(i, item) elements}}<li><img src="img/d${i+1}.png" alt="${i+1}"> ${item}</li>{{/each}}</ul>
			</div>
		{{/each}}</ol>
		</div>
		{{/if}}
		
		{{if playset.events}}
		<h2 class="playsetList" onClick="subSwap('subEvents')">Events</h2>
		<div id="subEvents" style="display: none;" class="L0"><ol class="L1">
		{{each(i, item) playset.events}}
			<li onClick="subSwap('events${i}')">${item.title}</li>
			<div id="events${i}" style="display: none;">
				<ul class="L2">{{each(i, item) elements}}<li><img src="img/d${i+1}.png" alt="${i+1}"> ${item}</li>{{/each}}</ul>
			</div>
		{{/each}}</ol>
		</div>
		{{/if}}

		{{if playset.moments}}
		<h2 class="playsetList" onClick="subSwap('subMoments')">Moments</h2>
		<div id="subMoments" style="display: none;" class="L0"><ol class="L1">
		{{each(i, item) playset.moments}}
			<li onClick="subSwap('moments${i}')">${item.title}</li>
			<div id="moments${i}" style="display: none;">
				<ul class="L2">{{each(i, item) elements}}<li><img src="img/d${i+1}.png" alt="${i+1}"> ${item}</li>{{/each}}</ul>
			</div>
		{{/each}}</ol>
		</div>
		{{/if}}

		{{if playset.objects}}
		<h2 class="playsetList" onClick="subSwap('subObjects')">Objects</h2>
		<div id="subObjects" style="display: none;" class="L0"><ol class="L1">
		{{each(i, item) playset.objects}}
			<li onClick="subSwap('objects${i}')">${item.title}</li>
			<div id="objects${i}" style="display: none;">
				<ul class="L2">{{each(i, item) elements}}<li><img src="img/d${i+1}.png" alt="${i+1}"> ${item}</li>{{/each}}</ul>
			</div>
		{{/each}}</ol>
		</div>
		{{/if}}

		{{if playset.assets}}
		<h2 class="playsetList" onClick="subSwap('subAssets')">Assets</h2>
		<div id="subAssets" style="display: none;" class="L0"><ol class="L1">
		{{each(i, item) playset.assets}}
			<li onClick="subSwap('assets${i}')">${item.title}</li>
			<div id="assets${i}" style="display: none;">
				<ul class="L2">{{each(i, item) elements}}<li><img src="img/d${i+1}.png" alt="${i+1}"> ${item}</li>{{/each}}</ul>
			</div>
		{{/each}}</ol>
		</div>
		{{/if}}

		{{if playset.thecar}}
		<h2 class="playsetList" onClick="subSwap('subThecar')">The Car</h2>
		<div id="subThecar" style="display: none;" class="L0"><ol class="L1">
		{{each(i, item) playset.thecar}}
			<li onClick="subSwap('thecar${i}')">${item.title}</li>
			<div id="thecar${i}" style="display: none;">
				<ul class="L2">{{each(i, item) elements}}<li><img src="img/d${i+1}.png" alt="${i+1}"> ${item}</li>{{/each}}</ul>
			</div>
		{{/each}}</ol>
		</div>
		{{/if}}
		
		{{if playset.tilt}}
		<h2 class="playsetList" onClick="subSwap('subTilt')">Tilt</h2>
		<div id="subTilt" style="display: none;" class="L0"><ol class="L1">
		{{each(i, item) playset.tilt}}
			<li onClick="subSwap('tilt${i}')">${item.title}</li>
			<div id="tilt${i}" style="display: none;">
				<ul class="L2">{{each(i, item) elements}}<li><img src="img/d${i+1}.png" alt="${i+1}"> ${item}</li>{{/each}}</ul>
			</div>
		{{/each}}</ol>
		</div>
		{{/if}}

		{{if playset.notes}}
		<h2 class="playsetList" onClick="subSwap('subNotes')">Notes</h2>
		<div id="subNotes" style="display: none;" class="L0"><ul class="L1">
		{{each(i, item) playset.notes}}
			<li onClick="subSwap('notes${i}')">${item.title}</li>
			<div id="notes${i}" style="display: none;">
				<ul class="L2">{{each(i, item) elements}}<li>${item}</li>{{/each}}</ul>
			</div>
		{{/each}}</ul>
		</div>
		{{/if}}
	</div>
	<h1 class="footer">...${playset.score.tagline}</h1>
</div>
</script>