<script id="playsetTitleScreen" type="text/x-jquery-tmpl">
	<div id="IOSContainer">
		<h1>${playset.title}</h1>
		<div id="bodyContainer">
		<h2>By ${playset.credits.author}</h2>
		
		<h3>${playset.score.title}</h3>
		{{each playset.score.paragraphs}}
		<p>${$value}</p>
		{{/each}}

		{{if playset.score.notes_title}}
		<h3>${playset.score.notes_title}</h3>
		{{each playset.score.notes_paragraphs}}
		<p>${$value}</p>
		{{/each}}
		{{/if}}

		<img src="img/fiascofuse.png">
		
		{{if playset.movie_night}}
		<h3>Movie Night</h3>
		<p>{{each playset.movie_night}}${title}. {{/each}}</p>
		{{/if}}

		{{if playset.book_club}}
		<h3>Book Club</h3>
		<ul>{{each playset.book_club}}<li>${title}</li>{{/each}}</ul>
		{{/if}}
		
		{{if playset.television}}
		<h3>Television</h3>
		<p>{{each playset.television}}${title}. {{/each}}</p>
		{{/if}}

		<div id="playnow" onClick="loadJSONPlayset('${filename}');">Play Now</div>
		</div>
	</div>
</script>
